.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}

.tableHeading {
  margin-bottom: 20px;
}

.accountContainer {
  width: 100%;
}
