.sortingContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  display: flex;
  gap: 5px;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  padding: 0;

  &:hover {
    color: var(--light);
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  min-width: 120px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  button {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
}
