.header {
  margin-bottom: 10px;
}

.formContainer {
  width: 580px;
  background-color: var(--light-dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  width: 100%;
  gap: 35px;
}

.btn {
  max-width: 100%;
  width: 100%;
}

.error {
  color: var(--red);
}
