@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accountData {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template:
    'chart history'
    'stats history'
    'form form';
  gap: 50px 25px;
  animation: fadeIn 0.5s ease-in-out;
}

.btn {
  gap: 10px;
}
